# Backend (NO subir a GitHub)
server/node_modules/
server/.env
server/package-lock.json

# Frontend (dependencias)
node_modules/
package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Pruebas
Pruebas/Escaner.css
Pruebas/Escaner.js